DATABASE_URL="sqlserver://localhost\sql2017;database=Flash-ERP;user=sa;password=sa;encrypt=false;trustServerCertificate=true"
FLASH_ERP_DB_POOL_MAX="20"
FLASH_ERP_DB_POOL_ACQUIRE_TIMEOUT_SECONDS="15"
FLASH_ERP_DB_CONNECTION_TIMEOUT_MS="15000"
FLASH_ERP_DB_REQUEST_TIMEOUT_MS="30000"
FLASH_ERP_DB_APPLICATION_NAME="Flash ERP Enterprise"
FLASH_ERP_DB_SLOW_QUERY_MS="1000"
FLASH_ERP_SESSION_TOUCH_INTERVAL_MS="60000"
FLASH_ERP_SESSION_READ_CACHE_MS="1000"
FLASH_ERP_ECOMMERCE_SESSION_TOUCH_INTERVAL_MS="60000"
FLASH_ERP_READ_CACHE_TTL_MS="15000"
FLASH_ERP_READ_CACHE_STALE_MS="60000"
FLASH_ERP_READ_CACHE_MAX_ENTRIES="500"
FLASH_ERP_HQ_READ_CACHE_TTL_MS="5000"
FLASH_ERP_HQ_READ_CACHE_STALE_MS="20000"
FLASH_ERP_REDIS_URL=""
FLASH_ERP_REDIS_PREFIX="flash-erp:enterprise"
FLASH_ERP_REDIS_CONNECT_TIMEOUT_MS="2000"
FLASH_ERP_REDIS_COMMAND_TIMEOUT_MS="2000"
FLASH_ERP_REDIS_RETRY_MS="10000"
FLASH_ERP_REDIS_LOAD_LOCK_MS="30000"
FLASH_ERP_REDIS_LOAD_WAIT_MS="10000"
FLASH_ERP_REDIS_LOAD_POLL_MS="50"
FLASH_ERP_RATE_LIMIT_ENABLED="true"
FLASH_ERP_RATE_LIMIT_PEPPER="replace-with-a-separate-strong-random-secret"
FLASH_ERP_RATE_LIMIT_LOCAL_MAX_ENTRIES="10000"
FLASH_ERP_TRUST_PROXY_HEADERS="false"
FLASH_ERP_CAPACITY_PUBLIC_READ_CONCURRENCY="64"
FLASH_ERP_CAPACITY_AUTHENTICATED_READ_CONCURRENCY="48"
FLASH_ERP_CAPACITY_TRANSACTIONAL_WRITE_CONCURRENCY="24"
FLASH_ERP_CAPACITY_BACKGROUND_CONCURRENCY="12"
FLASH_ERP_CAPACITY_MAX_QUEUE="512"
FLASH_ERP_CAPACITY_QUEUE_TIMEOUT_MS="10000"
FLASH_ERP_HTTP_WRITE_CONCURRENCY="32"
FLASH_ERP_HTTP_WRITE_MAX_QUEUE="512"
FLASH_ERP_HTTP_WRITE_QUEUE_TIMEOUT_MS="10000"
FLASH_ERP_WEB_WORKERS="4"
FLASH_ERP_WEB_SHUTDOWN_TIMEOUT_MS="30000"
FLASH_ERP_STARTUP_WARMUP="1"
FLASH_ERP_STARTUP_WARMUP_TIMEOUT_MS="180000"
FLASH_ERP_ENTERPRISE_APP_URL="http://localhost:3000"
FLASH_ERP_ECOMMERCE_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_ENTERPRISE_URL="http://localhost:3000"
FLASH_ERP_STORE_SYNC_BASE_URL="http://localhost:3000"
FLASH_ERP_AUTH_SECRET="replace-with-strong-random-secret"
FLASH_ERP_ECOMMERCE_AUTH_SECRET="replace-with-a-separate-strong-random-secret"
FLASH_ERP_ECOMMERCE_EXPOSE_OTP="false"
FLASH_ERP_ECOMMERCE_GOOGLE_CLIENT_ID=""
FLASH_ERP_ECOMMERCE_GOOGLE_CLIENT_SECRET=""
FLASH_ERP_ECOMMERCE_FACEBOOK_APP_ID=""
FLASH_ERP_ECOMMERCE_FACEBOOK_APP_SECRET=""
FLASH_ERP_MFA_DELIVERY_MODE="external"
FLASH_ERP_PAYSTACK_SECRET_KEY=""
FLASH_ERP_FLUTTERWAVE_SECRET_KEY=""
FLASH_ERP_FLUTTERWAVE_WEBHOOK_SECRET=""
FLASH_ERP_COOKIE_SECURE="false"
FLASH_ERP_DEFAULT_CURRENCY="GHS"
FLASH_ERP_DEFAULT_TIMEZONE="Africa/Accra"
FLASH_ERP_SEED_RETAIL_DEMO_DATA="false"
FLASH_ERP_BOOTSTRAP_ADMIN_LOGIN="hq.admin"
FLASH_ERP_BOOTSTRAP_ADMIN_EMAIL="hq.admin@flash-erp.local"
FLASH_ERP_BOOTSTRAP_ADMIN_NAME="Flash ERP Enterprise Admin"
FLASH_ERP_BOOTSTRAP_ADMIN_PASSWORD="replace-with-local-admin-password"
FLASH_ERP_NEXT_BUILD_MEMORY_MB="1024"
FLASH_ERP_NEXT_BUILD_CPUS="1"
FLASH_ERP_STORE_NODE_CODE="store-accra-central-01"
FLASH_ERP_STORE_ID="replace-with-store-id"
FLASH_ERP_TERMINAL_ID="replace-with-terminal-id"
FLASH_ERP_STORE_RUNTIME_ROLE="embedded"
FLASH_ERP_STORE_TERMINAL_CODE="front-01"
FLASH_ERP_STORE_TERMINAL_NAME="Front Till 01"
FLASH_ERP_STORE_SERVER_URL=""
FLASH_ERP_STORE_SERVER_TOKEN="replace-with-strong-lan-token"
FLASH_ERP_STORE_SERVER_HOST="0.0.0.0"
FLASH_ERP_STORE_SERVER_PORT="4747"
FLASH_ERP_STORE_SERVER_TIMEOUT_MS="8000"
FLASH_ERP_STORE_DATABASE_PROVIDER="mssql"
FLASH_ERP_STORE_DB_PATH=""
FLASH_ERP_STORE_USER_DATA_PATH=""
FLASH_ERP_STORE_DATABASE_URL="sqlserver://localhost\sql2017;database=flash_erp_store_accra_central;user=sa;password=sa;encrypt=false;trustServerCertificate=true"
FLASH_ERP_STORE_POSTGRES_URL="postgresql://erp:erpdev@localhost:15533/flash_erp_store_accra_central?schema=public"
FLASH_ERP_STORE_MSSQL_SCHEMA_VERSION="flash-erp-store-mssql-v1"
